
/* Override color scheme */
:root {
	--nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
	--nc-tx-1: #000000;
	--nc-tx-2: #1A1A1A;
	--nc-bg-1: #FFFFFF;
	--nc-bg-2: #F6F8FA;
	--nc-bg-3: #E5E7EB;
	--nc-lk-1: #0070F3;
	--nc-lk-2: #0366D6;
	--nc-lk-tx: #FFFFFF;
	--nc-ac-1: #79FFE1;
    --nc-ac-tx: #0C4047;
}

/* Currently, dark mode is not supported by highlight.js. */
@media (prefers-color-scheme: dark) {
	:root {
		--nc-tx-1: #000000;
		--nc-tx-2: #1A1A1A;
		--nc-bg-1: #FFFFFF;
		--nc-bg-2: #F6F8FA;
		--nc-bg-3: #E5E7EB;
		--nc-lk-1: #0070F3;
		--nc-lk-2: #0366D6;
		--nc-lk-tx: #FFFFFF;
		--nc-ac-1: #79FFE1;
    	--nc-ac-tx: #0C4047;
	}
}

body {
	max-width: 950px;
}

pre {
	padding: 0.5rem 1rem;
}
pre code.hljs {
	padding: 0em;
}

table {
	width: auto;
}

td, th {
	text-align: revert;
	text-align: revert-layer;
}
td[align=left], th[aligh=left] {
	text-align: left;
}
td[align=center], th[aligh=center] {
	text-align: center;
}
td[align=right], th[aligh=right] {
	text-align: right;
}

.hljs {
	background-color: var(--nc-bg-2);
	color: var(--nc-tx-2);
}

#publish-markdown-reports-header {
    margin: 0.1em 0em;
}

#publish-markdown-reports-header h1 {
    display: inline;
    padding-right: 0.5em;
}

#publish-markdown-reports-header h1 a{
    color: black;
    text-decoration: none;
}

#publish-markdown-reports-header h1 a:hover{
    text-decoration: underline;
}

#publish-markdown-reports-footer {
    text-align: right;
    padding-right: 2em;
}
