name: build

on:
  push:
    branches: [ master, support_github_actions ]
    tags: ['v*']
  pull_request:
    branches: [ master ]

jobs:
  build_vsix:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: '14'

    - run: npm ci
      working-directory: PublishMarkdownReports

    - run: npm ci

    - run: npm run build
      working-directory: PublishMarkdownReports

    - run: npm run build

    - uses: actions/upload-artifact@v2
      with:
        name: vsix
        path: ./*.vsix

  release:
    # if: startsWith(github.ref, 'refs/tags/v')

    needs: build_vsix

    runs-on: ubuntu-latest

    steps:
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body: |
          Release note.
        draft: true
        prerelease: false

    - name: Download artifact
      uses: actions/download-artifact@v2
      with:
        name: vsix
        path: vsix

    - run: ls -alF vsix

    - name: Upload all artifacts
      uses: actions/github-script@v3
      with:
        release_id: ${{ steps.create_release.outputs.id }}
        assets_dir: vsix
        script: |
          console.log("environment", process.versions);
          const fs = require("fs").promises;
          const path = require("path");
          const { repo: { owner, repo } } = context;
          const release_id = core.getInput("release_id", { required: true });
          const assets_dir = core.getInput("assets_dir", { required: true });

          const files = await fs.readdir(assets_dir);
          console.log("files", files);
          const asset_uploaders = files.map(file => path.join(assets_dir, file)).map(file => {
            return fs.readFile(file).then(data => {
              return github.repos.uploadReleaseAsset({
                owner,
                repo,
                release_id,
                name: path.basename(file),
                data
              });
            });
          })
          Promise.all(asset_uploaders);
